@import '../../../../styles/var.less';
@import '../../../../styles/mixin.less';
.p-cmp-home-header {
  background: linear-gradient(@primary-color, @primary-color 70%, @white);

  .header {
    padding       : 10px 0;
    font-size     : 18px;
    letter-spacing: 10px;
    text-align    : center;
  }

  .main {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding: 18px;

    .item {
      flex        : 3;
      padding-left: 13px;

      .tit {
        color      : @gray-color;
        font-weight: lighter;
      }

      .info {
        margin-top: 8px;
        font-size : 18px;
        // &.in {
        //   color: @green-color;
        // }
        // &.out {
        //   color: @red-color;
        // }
      }

      &.data {
        flex        : 2;
        padding-left: 0;

        .info {
          // border-right: 1px solid @gray-color;
          .bd1-right();
        }
      }
    }
  }

  .bar {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    margin         : 6px 12px;
    padding        : 12px;
    background     : @white;
    border-radius  : 6px;
    box-shadow     : 0 0 24px 0 rgba(0, 0, 0, 0.08);
  }
}
