@import '../../styles/var.less';
@import '../../styles/mixin.less';

.page-home {
  &__body {
    padding: 12px;
    &-tit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 12px;
      color: @gray-color;
      .bd1-bottom(0.2);
    }
  }
}
