.layout {
  &__main__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 50px;

    &--light {
      // box-sizing: border-box;
      // border-top: 1px solid #ddd;
    }
  }
}
